<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="InetBankingVI">
<listeners>
		<listener class-name="com.inetBanking.Utilities.Reporting" />
	</listeners>




  <test  name="Banking app test">
  <parameter name="browser" value="chrome" />
    <classes>
      
             <class name="com.inetBanking.testCase.TC_LoginTest_001"/>
         
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
